%section.section--center.mdl-grid.mdl-grid--no-spacing.mdl-shadow--2dp
  .mdl-card.mdl-cell.mdl-cell--12-col
    .mdl-card__supporting-text
      %h4 Reports index
      %i.material-icons.md-48 face
    .mdl-card__actions
      %a.mdl-button{href:"#"} Leer mas
