%section.section--center.mdl-grid.mdl-grid--no-spacing
  %h2.page-title Reportes de Gastos
  %hr

%section.section--center.mdl-grid.mdl-grid--no-spacing.mdl-shadow--2dp
  %header.section__play-btn.mdl-cell--3-col-desktop.mdl-cell--2-col-tablet.mdl-cell--4-col-phone.mdl-color--pink-400.mdl-color-text--white
    %i.material-icons play_circle_filled
  .mdl-card.mdl-cell.mdl-cell--9-col-desktop.mdl-cell--6-col-tablet.mdl-cell--4-col-phone
    .mdl-card__supporting-text
      %h4 Reporte Gastos Agosto 2018
      Lorem ipsum
    .mdl-card__actions
      %a.mdl-button{href:"#"} Ver este reporte
